.orders {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

.order {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order__body {
  width: 100%;
}

.order__body div {
  margin: 1rem 0;
}

.items-list {
  color: grey;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  max-width: 100%;
}

@media screen and (max-width: 600px) {
  .orders {
    grid-template-columns: 1fr;
  }
}
