.navbar {
  width: 100%;
  padding: 1.2rem 5%;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.logo {
  text-decoration: none;
  color: initial;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.navbar-menu .logout {
  font-weight: bold;
  opacity: 0.5;
  cursor: pointer;
}

.navbar-menu .logout:hover {
  opacity: 1;
}
